.ax_default {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:32px;
}
._默认样式 {
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
.box_2 {
}
.ellipse {
}
._形状 {
}
.image {
}
.placeholder {
}
.link_button {
  color:#169BD5;
}
._一级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:center;
  line-height:36px;
}
.text_link {
  color:#0000FF;
}
._鼠标悬停文本链接时 {
}
.text_link_mouse_down {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
.line {
}
.text_area {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
._流程形状 {
}
.html_button {
  text-align:center;
}
.marker {
  color:#FFFFFF;
}
._默认样式1 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
._文本链接 {
  color:#666666;
}
._鼠标按下文本链接时 {
}
.flow_shape {
}
.icon {
}
.iconfont {
  font-family:'iconfont Medium', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._图片 {
}
._文本段落1 {
  text-align:left;
}
._一级标题1 {
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._图片1 {
  color:#000000;
}
.fontawesome {
}
.box_11 {
}
._形状1 {
}
._形状2 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._图片2 {
}
.icon1 {
}
._默认样式2 {
}
._形状3 {
}
.font_awesome_5_free_solid {
  font-family:'Font Awesome 5 Free Solid', 'Font Awesome 5 Free';
  font-weight:900;
  font-style:normal;
}
.box_12 {
}
.button {
}
.label1 {
  font-size:14px;
  text-align:left;
}
textarea, select, input, button { outline: none; }
